<% include ../partials/header %>

<div class="employee" >
        <div style="padding-top:15px;padding-left:20px; font-size:20px; height:50px;font-weight:bold">  EMPLOYEE <span style="padding-left: 20px;font-style:italic;font-size:15px">   (Current Time <span  id="demo"></span>)</span> </div> 
</div>     

<hr class="hr1">

<button id="myBtn" class="errorButton">Add Your First Employee</button>

<div id="myModal" class="modal">
        <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="addEmployeeText">Add Your First Employee</h2>
                <hr>
                <form action="/employees" method="POST" enctype="multipart/form-data">
                        <div class="grid">
                                <div class="first_name">
                                        <label  for="first_name" class="label">First Name</label>
                                        <input type="text" class="form_input" id="first_name"  name="first_name" >
                                </div>
                                <div class="second_name">
                                        <label  for="second_name" class="label">Last Name</label>
                                        <input type="text" class="form_input" id="first_name"  name="second_name">
                                </div>
                                <div class="profile-image">
                                        <label  for="image"class="label" >Choose Image</label>
                                        <div class="image-box">
                                                <a class="click" onclick="document.getElementById('getFile').click()">Click here <samp style="color: black"> To upload File or Drag file here</samp> </a> 
                                                <input type="file" id="getFile" style="display:none;color:blue"  name="image" value="Click here"> 
                                        </div>
                                </div>
                                <div class="status">
                                        <label class="switch label"> Status
                                                <input type="checkbox"  id="status" name="status">
                                                <span class="slider round"></span>
                                                <span class="inactivetag" style="color: #cc0000">Inactive</span>
                                                <span class="activetag" style="color: #6aa84f ">Active</span>
                                        </label>
                                </div>
                                <div class="score">
                                        <label  for="score" class="label">Score</label>
                                        <input type="text" class="form_input" id="score"  name="score" >
                                </div>
                                <div class="hr">
                                        <hr> 
                                </div>
                                <div class="submit_button">
                                        <button type="submit" class="buttonSubmit" id="submit">Submit</button>
                                </div>
                        </div>
                </form>
        </div>
      </div>



<% include ../partials/footer %>