<% include ../partials/header %>

<div class="card" style="margin-top: 20px;">
        <img src="/uploads/<%=profile.image%>" alt="John" style="width:100%">
        <h3><%=profile.first_name%> <%=profile.second_name%></h3>
        <%if(profile.status == 'on'){%>
                <p class="title" style="color: 6aa84f ; font-weight: bold;">Active</p>
        <%}else{%>
                <p class="title" style="color:  #cc0000; font-weight: bold;">Inactive</p>
        <%}%>
        <p>Score - <%=profile.score%></p>
        <div style="margin: 24px 0;">
                <a href="/employees/<%=profile._id%>/delete" style="color: #cc0000"><i class="fa fa-trash-alt"></i></a> 
                <a href="#" id="myBtn"><i class="fa fa-user-edit"></i></a>  
        </div>
        <p><a href="/employees" class="backButton">Back</a></p>
</div>

<div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2  class="addEmployeeText">Edit Employee</h2>
          <hr>
          <form action="/employees/<%=profile._id %>/edit?_method=PUT" method="post" >
                <div class="grid">
                        <div class="first_name">
                                <label  for="first_name" class="label">First Name</label>
                                <input type="text" class="form_input" id="first_name"  name="profile[first_name]"  value="<%=profile.first_name%>">
                        </div>
                        <div class="second_name">
                                <label  for="second_name" class="label">Last Name</label>
                                <input type="text" class="form_input" id="first_name"  name="profile[second_name]"  value="<%=profile.second_name%>">
                        </div>
                        <div class="profile-image">
                                <label  for="image"class="label" >Choose Image</label>
                                <div class="image-box">
                                        <a class="click" onclick="document.getElementById('getFile').click()">Click here <samp style="color: black"> To upload File or Drag file here</samp> </a> 
                                        <input type="file" id="getFile" style="display:none"  name="profile[image]" value="<%=profile.image%>"> 
                                </div>
                        </div>
                        <div class="status">
                            <%if(profile.status == 'on'){%>
                                    <label class="switch label"> Status
                                        <input type="checkbox"  id="status" name="profile[status]" checked>
                                        <span class="slider round"></span>
                                        <span class="activetag" style="color: #cc0000">Inactive</span>
                                        <span class="inactivetag" style="color: #6aa84f ">Active</span>
                                    </label>
                            <%}else{%>
                                <label class="switch label"> Status
                                        <input type="checkbox"  id="status" name="profile[status]" >
                                        <span class="slider round"></span>
                                        <span class="inactivetag" style="color: #cc0000">Inactive</span>
                                        <span class="activetag" style="color: #6aa84f ">Active</span>
                                </label>
                             <%}%>      
                        </div>
                        <div class="score">
                                <label  for="score" class="label">Score</label>
                                <input type="text" class="form_input" id="score"  name="profile[score]"  value="<%=profile.score%>" >
                        </div>
                        <div class="hr">
                                <hr>      
                        </div>
                        <div class="submit_button">
                                <button type="submit" class="buttonSubmit" id="submita">Submit</button>
                        </div> 
                </div>
          </form>
        </div>
</div>
<% include ../partials/footer %>