<% include ../partials/header %>

<div class="employee" >
        <div style="padding-top:15px;padding-left:20px; font-size:20px; height:50px;font-weight:bold">  EMPLOYEES <span style="padding-left: 20px;font-style:italic;font-size:15px">   (Current Time <span  id="demo"></span>)</span>  <button id="myBtn" class="button">Add Employee</button></div> 
</div>     

<hr class="hr1">
<div style="overflow-x:auto;">
        <table >
                <tr>
                        <th>Employee</th>
                        <th>Rating</th>
                        <th>Status</th>
                        <th></th>
                </tr>
                <%profile.forEach(function(pro){%>
                        <tr >
                                <td style="font-weight: bold;width: 50%;"><img src="/uploads/<%=pro.image%>" alt="Avatar" class="avatar"><%=pro.first_name%> <%=pro.second_name%></td>
                                <%if(pro.score >10){%>
                                        <td style="font-weight: bold;">A</td>
                                <%}else{%>
                                        <td style="font-weight: bold;">B</td>
                                <%}%>
                                <%if(pro.status == 'on'){%>
                                        <td  style="color: #6aa84f ; font-weight: bold;">Active</td>
                                <%}else{%>
                                        <td  style="color:  #cc0000; font-weight: bold;">Inactive</td>
                                <%}%>
                                <td> <a href="/employees/<%= pro._id%>">  View</a> </td>
                        </tr>                      
                 <%})%>
                <%if(error_message && error_message.length>0){%>
                        <div id="snackbar"><%= error_message %></div>
                        <script  type="text/javascript">myFunction();</script>
                <% }%>
                <%if(success_message && success_message.length>0){%>
                        <div id="snackbar" style="background-color:#eeeeee;color:#434343; "><%= success_message %></div>
                        <script  type="text/javascript"> myFunction();</script>
                <%}%>           
        </table>
</div>



<div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2  class="addEmployeeText">Add Employee</h2>
          <hr>
          <form action="/employees" method="POST" enctype="multipart/form-data">
                <div class="grid">
                        <div class="first_name">
                                <label  for="first_name" class="label">First Name</label>
                                <input type="text" class="form_input" id="first_name"  name="first_name" >
                        </div>
                        <div class="second_name">
                                <label  for="second_name" class="label">Last Name</label>
                                <input type="text" class="form_input" id="first_name"  name="second_name">
                        </div>
                        <div class="profile-image">
                                <label  for="image"class="label" >Choose Image</label>
                                <div class="image-box">
                                        <a class="click" onclick="document.getElementById('getFile').click()">Click here <samp style="color: black"> To upload File  or Drag file here</samp> </a> 
                                        <input type="file" id="getFile" style="display:none"  name="image" value="Click here"> 
                                </div>
                         </div>
                        <div class="status">
                                <label class="switch label"> Status
                                        <input type="checkbox"  id="status" name="status">
                                        <span class="slider round"></span>
                                        <span class="inactivetag" style="color: #cc0000">Inactive</span>
                                        <span class="activetag" style="color: #6aa84f ">Active</span>
                                </label>
                        </div>
                        <div class="score">
                                <label  for="score" class="label">Score</label>
                                <input type="text" class="form_input" id="score"  name="score" >
                        </div>
                        <div class="hr">
                                <hr>    
                        </div>
                        <div class="submit_button">
                                <button type="submit" class="buttonSubmit" id="submit">Submit</button>
                        </div>
                </div>
          </form>
        </div>
</div>



<% include ../partials/footer %>