</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
 
<script  type="text/javascript" src="/assets/js/date.js"></script>
<script  type="text/javascript" src="/assets/js/modal.js"></script>
<script  type="text/javascript" src="/assets/js/submitValidation.js"></script>

</body>
</html>