<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/modalAndcheckbox.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/table.css">
    <link rel="stylesheet" href="/assets/css/toast.css">
    <link rel="stylesheet" href="/assets/css/super.css">
    <link rel="stylesheet" href="/assets/css/card.css">
    <link rel="stylesheet" href="/assets/css/modalForm.css">
    <script  type="text/javascript" src="/assets/js/toast.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <title>Employees</title>
</head>
<body>
    <div class="sidenav">
          <a href="#about">
              <span style="font-size: 30px; color: #b3b5b7">
                  <i class="fas fa-bars"></i>
                </span>
          </a>
          <a href="/">
              <span style="font-size: 27px; color: #b3b5b7">
                  <i class="fas fa-home"></i>
                </span>
          </a>
          <a href="/employees">
              <span style="font-size: 27px; color:#b3b5b7;">
                  <i class="fas fa-users"></i>
                </span>
          </a>
          <a href="/">
              <span style="font-size: 33px; color: #b3b5b7;">
                  <i class="fas fa-user-circle"></i>
                </span>
          </a>
        </div>
            <body>
              
              <!-- Navbar start -->

            <div class="main">
          <ul>
            <li>
                <a href="/" style="padding-top: 20px;">
                  <span style="font-size: 33px; color: #ffffff;">
                      <i class="fas fa-plus-square"></i>
                  </span>
              </a>
            </li>
              <li><a href="/employees" style="padding-top: 20px;">Employee</a></li>
              
              <li style="float:right"><a href="/" style="padding-top: 20px;">Super Candidate</a></li>
              <li style="float:right">
                  <a href="/">
                    <span style="font-size: 33px; color: #ffffff;">
                        <img src="https://www.w3schools.com/howto/img_avatar.png"  class="avatarNav">
                    </span>
                </a>
              </li>
              <li style="float:right">
                  <a href="/" style="padding-top: 20px;">
                    <span style="font-size: 33px; color: #ffffff;">
                        <i class="fas fa-bell"></i>
                    </span>
                </a>
              </li>
          </ul>
                      