<% include partials/header %>
<div class="employee" >
    <div style="padding-top:15px;padding-left:20px; font-size:20px; height:50px;font-weight:bold"> ACCOUNT  </div> 
</div> 
<hr class="hr1">
<div class="nameSuper">
    <p class="fade">Name</p>
    <p class="super">Super Candidate</p>
</div>
<div class="numberSuper">
    <p class="fade">Number</p>
    <p class="super">9812345678</p>
</div>
<% include partials/footer %>