/* modalAndcheckbox CSS*/
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            padding-top: 100px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4); 
          }
          
    
          .modal-content {
            background-color: #eeeeee;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
            height: 550px;
          }
          
          .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          
          .close:hover,
          .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
  
  
          /*For Status toggling */
          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
          }
          .addEmployeeText{
            color: #434343;
            margin: 0%;
          }
          .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 30;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #cc0000;
            -webkit-transition: .4s;
            transition: .4s;
            padding-top: 33px;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color:#6aa84f;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #6aa84f;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          .click{
            color: blue;
          }
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
          .hr1{
            width: 97%;
          }