.buttonSubmit{
    margin: 0;
      width: 250px;
      height: 50px;
      background-color: #434343;
      border: none;
      color: #ffffff;
      padding: 14px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      float: right;
      cursor: pointer;
      border-radius: 10px;
  }
  .label{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
    display:block;
  }
  .form_input{
    height: 40px;
      width: 250px;
      border: 1px solid;
  }
    
    .button {
      background-color: #434343;
      border: none;
      color: #ffffff;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 2px;
      margin-right: 30px;
      float: right;
      cursor: pointer;
      border-radius: 12px;
    }
    .errorButton{
      background-color: #434343;
      border: none;
      color: #ffffff;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 12px;
      margin-left: 700px;
    }
    .disabled{
      background-color: #717171;
    }
  
    .activetag{
      display: none;
      padding-left: 70px;
      padding-top: 17px;
      float: left;
    }
    .inactivetag{
      padding-left: 70px;
      padding-top: 17px;
      float: left;
    }
    