/* SIDEBAR CSS */
body {
    font-family: "Lato", sans-serif;
    background-color: #eeeeee;
    margin: 0%;
  }
  
  .sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #eeeeee;
    overflow-x: hidden;
    padding-top: 20px;
    border-right-color: #434343;
    border-right-width: 1px;
    border-right-style: solid;
  }
  
  .sidenav a {
    padding: 10px 10px 20px 20px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  .sidenav a:hover {
    color: #434343;
  }
  
  .main {
    margin-left: 80px; 
    margin-top: 0%;
    font-size: 28px; 
   
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }