table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 97%;
    border: 2px solid #b6bac1;
    margin: 30px;
  }
  tr{
    border: 2px solid #b6bac1;
  }
  th, td {
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(odd){background-color: #f2f2f2}
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 60px; 
    font-weight: bold;
    
  }
  * {box-sizing: border-box;}
.grid {
  max-width: 940px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.first_name {
  grid-column: 1 / 1;
  grid-row: 1;
}
.second_name { 
  grid-column: 2 ;
/*   grid-row: 1 / 3; */
}
.profile-image{
  grid-column: 3;
  grid-row: 1 / 3;
}
.status {
  grid-column: 1;
  grid-row: 2;
}
.score {
  grid-column: 2;
  grid-row: 2;
}
.hr {
  grid-column: 1/4;
  grid-row: 3;
  padding-top: 90;
  width: 100%;
}
.submit_button {
  grid-column: 3;
  grid-row: 4;
}
.click{
  display: block;
  width: 100%;
  font-size: 15px;
}
.image-box{
  border: 1px dashed;
  height: 150px;
  padding-top: 55px;
  padding-left: 20px;
  width: 250px;
}
